#background{
   background-image:url(/pics/Gabriel_TheTank.jpg);
   background-repeat:no-repeat;
   background-size:cover;
}

#text {
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}