#background{
   background-image:url(/pics/Gabriel_TheTank.jpg);
   background-repeat:no-repeat;
   background-size:cover;
}

h2{
    justify-content: center;
}

#text {
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Herr+Von+Muellerhoff';
    font-size: 18px;
color: rgba(113,113,113,0.5);
}
#text2 {
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Special+Elite';
    font-size: 18px;
color: rgba(113,113,113,0.5);
}


#links{
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Herr+Von+Muellerhoff';
    font-size: 18px;
}

#donations{
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Herr+Von+Muellerhoff';
    font-size: 18px;
}