body {
    margin: 0;
    background-color: #333232;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

canvas {
    background-color: #000;
    height: 75%;
    width: 75%;
}
