body {
    margin: 0;
    background-color: #333232;
    display: flex;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

canvas {
    background-color: #000;
    height: 150%;
    width: 150%;
}
